<h1> Final Assignment - Introduction to Deep Learning & Neural Networks with Keras<h1>
    <h1> Daniel Augusto da Silva <h2>

<h5> Load packages<h5>

In [2]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

<h5> Load data <h5>
    Download the data and read it into a pandas dataframe

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Split the data Into 'Predictors' and 'Target'

In [8]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

n_cols = predictors.shape[1] # number of predictors

predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360


Split the datasets into train and test

In [11]:
from sklearn.model_selection import train_test_split

(721, 8)

<h3> Define first regression model <h3>

In [9]:
def regression_model_1():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model


Create the loop to run the model 50 times

In [20]:
score = pd.DataFrame(columns=['MSE'])
count = 0
while (count < 50):   
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3) #split data
    model = regression_model_1() #build the model
    model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=0) # fit the model
    scores = model.evaluate(X_test, y_test, verbose=0)
    #print(scores)
    score = score.append({'MSE':scores}, ignore_index=True)
    count = count + 1

score.head()

153.8981678292975
118.90808453606171
131.01472734864862
112.16438881093244
114.92719224355753
124.0329106401857
122.63448264606562
100.70145566872408
214.6250422209212
123.41256452146857
667.0557689481568
130.879935526925
195.2363158290826
255.63277783440154
103.56033989372376
146.33805116326292
103.04800321214793
119.22286747805894
101.90527812871346
232.77532181230563
129.52902162422254
121.80142071177659
92.97428634791699
95.96637866566482
137.50077948215323
109.01764770310288
78.50007491127187
210.9803897894702
79.447119802333
103.20486815616151
85.50799418575942
126.14226494946526
175.54367016048494
249.6042690832638
152.74118841967535
137.8771655628982
315.50175164972694
174.95264126181988
146.82421109591488
48.615195228058155
117.56742498404
281.0812962109217
104.29203633428777
124.85315709283823
179.01079067983287
184.04709405497826
108.90228718384184
127.63397058777053
101.51144320293538
118.18216302865531

          MSE
0  153.898168
1  118.908085
2  131.014727
3  112.164389
4  114.927192

<h4> Task A <h4>
Compute mean and standard deviation of the MSE

In [21]:
print("Average 'Mean Squared Error':",score['MSE'].mean())
print("Standard deviation of 'Mean Squared Error':",score['MSE'].std())

Average 'Mean Squared Error': 151.82575356887767
Standard deviation of 'Mean Squared Error': 92.08089499051476

<h4> Task B <h4>
Data Normalization for next steps

In [22]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()

predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Loop over the normilized data

In [23]:
score = pd.DataFrame(columns=['MSE'])
count = 0
while (count < 50):   
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3) #split data
    model = regression_model_1() #build the model
    model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=50, verbose=0) # fit the model
    scores = model.evaluate(X_test, y_test, verbose=0)
    #print(scores)
    score = score.append({'MSE':scores}, ignore_index=True)
    count = count + 1

score.head()

          MSE
0  163.539414
1  146.356525
2  125.384769
3  134.465575
4  143.047646

Compute mean and standard deviation of the MSE

In [24]:
print("Average 'Mean Squared Error':",score['MSE'].mean())
print("Standard deviation of 'Mean Squared Error':",score['MSE'].std())

Average 'Mean Squared Error': 147.84279121374234
Standard deviation of 'Mean Squared Error': 10.62307765486937

<h4> Task C <h4>

Run model with 100 epochs over normilized data

In [26]:
score = pd.DataFrame(columns=['MSE'])
count = 0
while (count < 50):   
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3) #split data
    model = regression_model_1() #build the model
    model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, verbose=0) # fit the model
    scores = model.evaluate(X_test, y_test, verbose=0)
    #print(scores)
    score = score.append({'MSE':scores}, ignore_index=True)
    count = count + 1

score.head()

          MSE
0  118.012461
1  127.144640
2  104.175784
3  108.204126
4   78.301883

Compute mean and standard deviation of the MSE

In [27]:
print("Average 'Mean Squared Error':",score['MSE'].mean())
print("Standard deviation of 'Mean Squared Error':",score['MSE'].std())

Average 'Mean Squared Error': 115.31275474943389
Standard deviation of 'Mean Squared Error': 14.614063067242077

<h4> Task D <h4>

create model with 3 hidden layers and 10 nodes each

In [28]:
def regression_model_2():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Run the model with the extra layers and 100 epochs

In [29]:
score = pd.DataFrame(columns=['MSE'])
count = 0
while (count < 50):   
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3) #split data
    model = regression_model_2() #build the model
    model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, verbose=0) # fit the model
    scores = model.evaluate(X_test, y_test, verbose=0)
    #print(scores)
    score = score.append({'MSE':scores}, ignore_index=True)
    count = count + 1

score.head()

          MSE
0   53.154765
1   43.568522
2  106.579282
3   75.644840
4   52.325557

Compute mean and standard deviation of the MSE

In [30]:
print("Average 'Mean Squared Error':",score['MSE'].mean())
print("Standard deviation of 'Mean Squared Error':",score['MSE'].std())

Average 'Mean Squared Error': 66.31042983021165
Standard deviation of 'Mean Squared Error': 19.80066516778187